.footer {
    background-color: rgba(15, 23, 61, 1);
    height: 407px;
}

@media screen and (max-width: 1140.98px) {
    .footer {
        height: 700px;
    }
}

@media screen and (max-width: 768.98px) {
    .footer {
        height: 700px;
    }
}

.footer__logo {
    width: 125px;
    height: 30px;
}

.footer__descr {
    width: 255px;
    height: 72px;
    color: var(--secondary-foreground);
}

.footer__container {
    padding: 80px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1140.98px) {
    .footer__container {
        row-gap: 30px;
        padding: 80px 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media screen and (max-width: 768.98px) {
    .footer__container {
        row-gap: 30px;
        padding: 80px 15px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.footer__row-left {
    display: flex;
    flex-direction: column;
}

.footer__row-right {
    display: flex;
    flex-direction: row;
    column-gap: 85px;
}

@media screen and (max-width: 1140.98px) {
    .footer__row-right {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        column-gap: 85px;
    }
}

@media screen and (max-width: 768.98px) {
    .footer__row-right {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        column-gap: 85px;
    }
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.footer__wrapper-tag {
    color: var(--secondary-foreground);
}

.footer__wrapper-text {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    color: var(--secondary-foreground);
}

.footer__subscribe-form {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.footer__subscribe-form-input {
    background-color: rgba(179, 186, 197, 1);
    opacity: 10%;
    width: 224px;
    height: 48px;
}

@media screen and (max-width: 768.98px) {
    .footer__subscribe-form-input {
        width: 150px;
    }
}

.footer__subscribe-form-button {
    background-color: rgba(255, 111, 115, 1);
    width: 224px;
    height: 48px;
}

@media screen and (max-width: 768.98px) {
    .footer__subscribe-form-button {
        width: 150px;
    }
}