.intro {
    position: relative;
    min-height: 630px;
    height: 100%;
    overflow: hidden;
}

.intro__background {
    position: absolute;
    top: -10%;
    left: 0;
    right: -10%;
    bottom: 60px;
    transform: rotate(358deg);
    background-color: rgba(255, 220, 221, 1);
    transform-origin: bottom left;
}

.intro__container {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 60px;
    padding: 0 100px;
}

@media screen and (max-width: 768.98px) {
    .intro__container {
        left: unset;
    }
}

.intro__content {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    height: 100%;
    align-items: baseline;
}

.intro__content-descr {
    flex: 1;
    max-width: 600px;
}

.intro__title {
    color: rgba(15, 23, 61, 1);
}

@media screen and (max-width: 768.98px) {
    .intro__title {
        font-size: 28px;
    }
}

.intro__title-span {
    color: var(--primary);
}

.intro__descr {
    color: rgba(15, 23, 61, 1);
}

.intro__actions {
    display: flex;
    background-color: white;
    height: 92px;
    border-radius: var(--rounded-base);
    box-shadow: 10px 22px 44px 0px rgba(27, 29, 33, 0.06);
}

@media screen and (max-width: 1140.98px) {
    .intro__actions {
        flex-direction: column;
        flex-wrap: wrap;
        height: 200px;
    }
}

@media screen and (max-width: 768.98px) {
    .intro__actions {
        height: 400px;
        /*flex-wrap: nowrap;*/
    }
}

.intro__actions-item {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 80px;
    border-left: solid;
    border-width: 1px;
    border-color: rgba(237, 237, 237, 1);
}

.intro__actions-item:first-child {
    border: none;
}

.intro__actions-button-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.intro__actions-button {
    height: 62px;
}

.intro__circle1 {
    position: absolute;
    background-color: white;
    border-radius: 100%;
    width: 162px;
    height: 162px;
    top: 110px;
    right: 362px;
}

.intro__circle2 {
    position: absolute;
    background-color: white;
    border-radius: 100%;
    width: 182px;
    height: 182px;
    top: 180px;
    right: 150px;
}

.intro__circle3 {
    position: absolute;
    background-color: white;
    border-radius: 100%;
    width: 132px;
    height: 132px;
    top: 290px;
    right: 446px;
}

.intro__circle4 {
    position: absolute;
    background-color: rgba(255, 162, 98, 1);
    border-radius: 100%;
    width: 62px;
    height: 62px;
    top: 380px;
    right: 324px;
}

.ri-arrow-right-up-line {
    color: rgba(0, 203, 248, 1);
}

.ri-arrow-right-down-line {
    color: rgba(0, 203, 248, 1);
}

.ri-flashlight-fill {
    color: rgba(0, 203, 248, 1);
}

.ri-baidu-line {
    color: rgba(126, 99, 251, 1);
}

.ri-cash-line {
    color:  rgba(255, 162, 98, 1);
}

.ri-dossier-fill {
    color:  rgba(255, 111, 115, 1);
}